.tooltip-container {
  position: relative;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  border: $border-width solid $color-primary;
  border-radius: $border-radius;
  padding: 0.25rem;
  white-space: nowrap;
  box-shadow: 1px 1px 4px 1px $color-primary;
  background-color: white;
  z-index: 100;
  transition: opacity 0.2s ease-in-out;

  &__text {
    color: $color-primary;
    font-size: 1.5rem;
  }

  &--open {
    opacity: 1;
  }

  // Used for the triangle arrows attached to the tooltip bubble
  $triangle-base: 4px;
  $triangle-height: 6px;

  &--top,
  &--left,
  &--right,
  &--bottom {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
    }
  }

  &--left,
  &--right {
    margin: 0 1rem;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border-top: $triangle-base + $border-width solid transparent;
      border-bottom: $triangle-base + $border-width solid transparent;
    }

    &::after {
      border-top: $triangle-base solid transparent;
      border-bottom: $triangle-base solid transparent;
    }
  }

  &--left {
    right: 100%;

    &::before,
    &::after {
      left: 100%;
    }

    &::before {
      border-left: $triangle-height + $border-width solid $color-primary;
    }

    &::after {
      border-left: $triangle-height solid white;
    }
  }

  &--right {
    left: 100%;

    &::before,
    &::after {
      right: 100%;
    }

    &::before {
      border-right: $triangle-height + $border-width solid $color-primary;
    }

    &::after {
      border-right: $triangle-height solid white;
    }
  }

  &--top,
  &--bottom {
    margin: 1rem 0;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      border-left: $triangle-base + $border-width solid transparent;
      border-right: $triangle-base + $border-width solid transparent;
    }

    &::after {
      border-left: $triangle-base solid transparent;
      border-right: $triangle-base solid transparent;
    }
  }

  &--top {
    bottom: 100%;

    &::before,
    &::after {
      top: 100%;
    }

    &::before {
      border-top: $triangle-height + $border-width solid $color-primary;
    }

    &::after {
      border-top: $triangle-height solid white;
    }
  }

  &--bottom {
    top: 100%;

    &::before,
    &::after {
      bottom: 100%;
    }

    &::before {
      border-bottom: $triangle-height + $border-width solid $color-primary;
    }

    &::after {
      border-bottom: $triangle-height solid white;
    }
  }
}
