.form-group {
  position: relative;

  margin-bottom: 3rem;
}

.input {
  font-size: 1.8rem;
  font-family: inherit;
  color: $color-primary;

  background: none;
  display: block;
  height: 3.8rem;
  width: 100%;
  padding: 1rem;
  padding-left: 1.4rem;
  position: relative;
  border-radius: $border-radius;
  border: 2px solid $color-primary-light;
  z-index: 1;

  transition: all 0.2s;

  &:focus {
    outline: none;
    border: 2px solid $color-primary;
  }

  &.invalid {
    border-color: $color-red;
  }
}

.icon {
  color: $color-primary;
  font-size: 2rem;

  position: absolute;
  top: 0.8rem;
  right:1.5rem;
}
