.input {
  font-size: 1.5rem;
  font-family: inherit;
  color: $color-primary;

  display: block;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: $border-radius;
  border: 2px solid $color-secondary;

  transition: all .3s;

  &:focus {
    outline: none;
    border: 2px solid $color-primary;
  }
}