.traffic-calendar {
  .rbc-event {
    background: $color-primary;
    display: block;
    height: auto !important;
  }
  .rbc-event-label {
    padding-right: 0;
  }
  .rbc-event-content {
    word-wrap: normal;
    max-height: 3em;
  }

  .event--show {
    max-width: 40px;
    min-width: 40px;
  }
  .event--legal_id {
    background: #008800;
  }
  .event--underwriting {
    background: #880000;
  }
  
  .rbc-events-container {
    margin-left: 2.5em;
  }
  
  .sleepless {
    display: grid;
    position: relative;
    
    &::before {
      background: $color-grey-4;
      width: 2.5em;
      padding-left: 0.4em;
      position: relative;
      top: -1px;
      content: " ";
      writing-mode: vertical-lr;
    }
    &::after {
        width:2.5em;
        position: absolute;
        bottom: -1px;
        height: 2px;
        background: $color-grey-4;
        content: " ";
      }
    
    &--start {
      &::before {
        content: "Sleepless Nights";
        padding-top: 1em;
        color: #fff;
      }
    }
    
    &--end {
      &::after {
        display: none;
      }
    }
  }

}