.card {
  display: grid;

  border: 1px solid #e2e2e2;
  background-color: $color-white;
  border-radius: $border-radius;
  width: 100%;
  overflow: hidden;

  &__body {
    padding: 2rem;
  }

  &__img {
    width: 100%;
    justify-self: center;

    &--home {
      width: 50%;
      padding-top: 2rem;
    }
  }

  &__link {

  }

  &__text {

  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary;
    
    margin-bottom: 2rem;
  }
}