.card {

  background-color: #fff;
  border-radius: .5rem;

  width: 100%;
  overflow: hidden;

  &__body {
    padding: 0 2.5rem 2rem;
  }

  &__img {
    width: 100%;
    margin-bottom: 2rem;
  }

  &__link {

  }

  &__text {

  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary;
    
    margin-bottom: 2rem;
  }
}