.input {
  & + label {
    background: $color-white;
    color: $color-grey-3;
    cursor: text;
    font-size: 1.8rem;
    padding: 0 1rem;
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;

    transform-origin: 0% 100%;
    transition: all 0.2s;
  }

  &.active + label,
  &:focus + label {
    color: $color-primary;
    transform: scale(0.6) translate(0.6rem, -4rem);
    z-index: 2;
  }

  &.invalid + label {
    color: $color-red;
  }
}
