.album-view-page {
  display: grid;
  grid-row-gap: 1rem;

}

.add-track-button {
    display: inline-block;
    position: relative;
    width: max-content;
    padding: 5px;
    background-color: $color-primary;
    color: white;
    cursor: pointer;
    height: 3.8rem;
    transition: background-color 0.1s;
    font-size: 1.8rem;
    border-radius: $border-radius;  
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
  }

  &__song-name {
    margin-bottom: 0rem;
  }

  &__last-updated {
    justify-self: end;
    margin-top: 1.4rem;
  }
}