.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 4rem 2rem;

  &__upcoming-shows {

  }

  &__past-shows {
    grid-column: 1;
    grid-row: 2;
  }

  &__currently-on-air {
    grid-column: 2;
    grid-row: 1 / span 2;
    font-size: 1.5rem;

    &__show-title {
      font-size: 2rem;
    }

    &__up-next {
      margin-top: 3rem;
    }
  }
  
  table {
    width: 100%;

    & thead {
      & th {
        font-size: 1.8rem;
        text-align: left;

        padding: 1rem;
      }
    }

    & tbody {
      border-radius: 1px;
      border: 1px solid $color-grey-2;

      & tr {
        &:hover {
          background-color: $color-grey-1;
        }
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-2;
        }
      }

      & td {
        font-size: 1.4rem;
        padding: 1rem;
      }
    }
  }
}