$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$color-primary: #007283;
$color-primary-light: #7db2bf;

$color-secondary: #7cb2bf;

$color-grey-light-1: #eee;
$color-grey-light: #dbdcdd;
$color-grey: #a4a9ad;
$color-grey-dark: #555759;

$color-white: #fff;
$color-black: #000;

$border-radius: 0.5rem;
