$color-primary: #007083;
$color-primary-dark-1: #005C6C;

$color-secondary: #7cb2bf;

$color-grey-light-1: #777;

$color-white: #fff;
$color-black: #000;

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;