.button {
  font-family: $font-family-primary;
  font-size: 1.6rem;
  font-weight: $font-weight-normal;
  letter-spacing: 1px;
  text-transform: uppercase;

  border: $border-width solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  padding: 0.7rem 3rem;
  transition: all 0.1s;
  text-decoration: none;

  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: none;
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;

    &:active,
    &.active {
      box-shadow: 0 0 0 $border-width $color-primary-light;
    }

    &:hover,
    &.hover,
    &:active,
    &.active {
      background-color: $color-primary-dark;
    }

    &:disabled,
    &.disabled {
      background-color: $color-primary-lighter;
    }
  }

  &--success {
    color: $color-white;
    background-color: $color-success;

    &:active,
    &.active {
      box-shadow: 0 0 0 $border-width $color-success-light;
    }

    &:hover,
    &.hover,
    &:active,
    &.active {
      background-color: $color-success-dark;
    }

    &:disabled,
    &.disabled {
      background-color: $color-success-lighter;
    }
  }

  &--info {
    color: $color-white;
    background-color: $color-info;

    &:active,
    &.active {
      box-shadow: 0 0 0 $border-width $color-info-light;
    }

    &:hover,
    &.hover,
    &:active,
    &.active {
      background-color: $color-info-dark;
    }

    &:disabled,
    &.disabled {
      background-color: $color-info-lighter;
    }
  }

  &--danger {
    color: $color-white;
    background-color: $color-danger;

    &:active,
    &.active {
      box-shadow: 0 0 0 $border-width $color-danger-light;
    }

    &:hover,
    &.hover,
    &:active,
    &.active {
      background-color: $color-danger-dark;
    }

    &:disabled,
    &.disabled {
      background-color: $color-danger-lighter;
    }
  }

  &--warning {
    color: $color-white;
    background-color: $color-warning;

    &:active,
    &.active {
      box-shadow: 0 0 0 $border-width $color-warning-light;
    }

    &:active,
    &.active, 
    &:hover,
    &.hover {
      background-color: $color-warning-dark;
    }

    &:disabled,
    &.disabled {
      background-color: $color-warning-lighter;
    }
  }

  &--link {
    color: $color-primary;
    font-size: 1.8rem;
    text-transform: none;
    
    border: none;
    border-bottom: 1px solid $color-primary;
    border-radius: 0;
    padding: 0.7rem 0 1px;
    margin: 0 0.8rem;

    &:active,
    &.active,
    &:hover,
    &.hover {
      color: $color-primary-dark;
      border-bottom: 1px solid $color-primary-dark;
    }

    &:disabled,
    &.disabled {
      color: $color-primary-lighter;
      border-bottom: 1px solid $color-primary-lighter;
    }
  }
}