.faun {
  &__heading {
    display: inline;
    align-items: end;
  }

  &__name {
    color: $color-primary;
    font-size: 3.6rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  &__edit {
    cursor: pointer;
  }

  &__form {
    display: inline-grid;
    grid-template-columns: 30rem auto auto;
    grid-column-gap: 1rem;
    justify-content: center;
    /* use margin to position the form in the same location the "name" text was in */
    margin-top: 1.2rem;
    margin-bottom: 1.1rem;
  }
}