// abstracts
@import 'abstracts/variables';

// base
@import 'base/base';
@import 'base/grid';
@import 'base/typography';
@import 'base/utilities';

// components
@import 'components/button';
@import 'components/card';
@import 'components/filter';
@import 'components/form';
@import 'components/image';
@import 'components/nav-test';
@import 'components/table';
@import 'components/unauthorized';

// layout
@import 'layout/empty-layout';
@import 'layout/main-layout';
@import 'layout/navbar';
@import 'layout/sidebar';

// pages
@import 'pages/_admin';
@import 'pages/_builder';
@import 'pages/_calendar';
@import 'pages/_dashboard';
@import 'pages/_home';
@import 'pages/_library';
@import 'pages/_report';
@import 'pages/_user';

// utils
@import 'utils/utilities';
