// variables
@import 'variables/border';
@import 'variables/colors';
@import 'variables/font';

// base
@import 'base/reset';
@import 'base/base';
@import 'base/commonComponents';
@import 'base/grid';
@import 'base/reactTable';
@import 'base/typography';
@import 'base/utilities';

// components
@import '../components/Alert/Alert';
@import '../components/App/App';
@import '../components/Button/Button';
@import '../components/ButtonIcon/ButtonIcon';
@import '../components/Card/Card';
@import '../components/Checkbox/Checkbox';
@import '../components/DatePicker/DatePicker';
@import '../components/Shows/Shows';
@import '../components/Dropdown/Dropdown';
@import '../components/DropdownHost/DropdownHost';
@import '../components/Filter/Filter';
@import '../components/Footer/Footer';
@import '../components/FormArtistAdd/FormArtistAdd';
@import '../components/FormArtistUpdateName/FormArtistUpdateName';
@import '../components/FormTrackAdd/FormTrackAdd';
@import '../components/FormHostAdd/FormHostAdd';
@import '../components/FormUserSearch/FormUserSearch';
@import '../components/Input/Input';
@import '../components/Logo/Logo';
@import '../components/LargeText/LargeText';
@import '../components/Loading/Loading';
@import '../components/Modal/Modal';
@import '../components/NavTest/NavTest';
@import '../components/Navbar/Navbar';
@import '../components/Pagination/Pagination';
@import '../components/Root/Root';
@import '../components/SearchTerm/SearchTerm';
@import '../components/Select/Select';
@import '../components/Sidebar/Sidebar';
@import '../components/tables/TableUsers/TableUsers';
@import '../components/TextArea/TextArea';
@import '../components/Tooltip/Tooltip';
@import '../components/Unauthorized/Unauthorized';

// layout
@import '../layouts/HomeLayout/HomeLayout';
@import '../layouts/MainLayout/MainLayout';

// pages
@import '../pages/AdminHomePage/AdminHomePage';
@import '../pages/AlbumViewPage/AlbumViewPage';
@import '../pages/ArtistAddPage/ArtistAddPage';
@import '../pages/ArtistViewPage/ArtistViewPage';
@import '../pages/BuilderHomePage/BuilderHomePage';
@import '../pages/CalendarHomePage/CalendarHomePage';
@import '../pages/DashboardHomePage/DashboardHomePage';
@import '../pages/Error404Page/Error404Page';
@import '../pages/LibrarySearchPage/LibrarySearchPage';
@import '../pages/LoginPage/LoginPage';
@import '../pages/ReportHomePage/ReportHomePage';
<<<<<<< HEAD
@import '../pages/TrackAddPage/TrackAddPage';
=======
@import '../pages/ShowBuilderShowListPage/ShowBuilderShowListPage';
>>>>>>> remotes/origin/development
@import '../pages/UserAddPage/UserAddPage';
@import '../pages/UserEditPage/UserEditPage';
@import '../pages/UserProfilePage/UserProfilePage';
@import '../pages/UserSearchPage/UserSearchPage';

// utils
@import './utils/border';
@import './utils/color';
@import './utils/margin';
@import './utils/padding';
@import './utils/position';
@import './utils/text';
