.show-container {
    border: 1px solid gray;
    border-radius: 3px;
}

.text-center {
    text-align: center;
}

.load-more-button {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5px;
    width: max-content;
}