.button-icon {
  border: none;
  cursor: pointer;
  font-size: 2rem;
  
  &.fa-pencil-alt {
    color: $color-primary;
  }

  &.fa-check {
    color: $color-primary;
  }

  &.fa-times {
    color: $color-danger;
  }


}