.library-search {

  &__header {
    display: grid;
    grid-template-columns: 50rem 1fr;
    grid-column-gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 1rem;
  }
  
  &__filters {
    margin-top: 12px;
    
    > span {
      cursor: pointer;
      margin-right: 10px;
      padding-left: 4px;
      padding-right: 4px;
      padding-bottom: 2px;
      color: $color-primary-light;
      &.active {
        border-bottom: 2px solid $color-primary-light;
      }
    }
  }

  &__term {
    height: 5rem;
  }
  
  &__grid {
    &__secondary-text {
      color: $color-grey-3;
    }
  }
}