.report {
  
}

.footer {
   position:relative;
   bottom:0;
   width:100%;
   height:40px;
   border:3px solid #007083;
   font-size: 14px;
   text-align:center;
}

#footer-conrad-logo {
  position: absolute;
  left: 50%;
  bottom: 4px;
  width: 50px;
  margin-left: 37px;
}


.footer-text {
	margin-top: 4px;

}