.dropdown {
  $height: 3.8rem;

  position: relative;
  display: inline-block;

  &__button {

  }
  
  &__icon {
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    width: 100%;
    
    i {
      display: block;
      padding: 0px 3px;
    }
  }

  &__circle {
    display: grid;
    justify-content: center;
    align-content: center;

    border-radius: 50%;
    border: 1px solid $color-primary;
    cursor: pointer;
    height: 2rem;
    position: relative;
    width: 2rem;

    & > .fa-ellipsis-h {
      color: $color-primary;
    }
  }

  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    background-color: $color-primary;
    border-radius: $border-radius;
    cursor: pointer;
    
    span {
      padding: 0px 1rem;
      border-right: 1px solid rgba(0,0,0,0.3);
      font-size: 18px;
      height: $height;
      line-height: $height;
    }
    
    i {
      display: grid;
      align-content: center;
      
      padding: 1rem;
      height: $height;
    }
  }

  &__list {
    border: 2px solid $color-primary-light;
    border-radius: $border-radius;
    background-color: white;
    opacity: 0;
    margin-top: 0.5rem;
    position: absolute;
    min-width: 20rem;
    transform: translateY(-3px);
    transition: all 0.2s;
    z-index: -1;
    
    &--below-and-align-against-right {
      right: 0px;
    }

    &.active {
      display: block;
      color: $color-primary;
      opacity: 1;
      transform: translateY(0);
      z-index: 10;
    }
  }

  &__item {
    color: $color-primary-light;
    font-size: 1.4rem;
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: $color-grey-1;
    }
  }
}