.user-search {

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 1rem;
  }

  &__term {
    height: 5rem;
  }
}