 .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: max-content;
  }
  
  /* hides default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  /* custom checkbox */
  .checkmark {
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: 1px solid $color-primary;
    border-radius: 5px;
    order: 1;
    display: inline-block;
  }
  
  /* color of checkbox when disabled */
  .checkbox-container input:disabled ~ .checkmark{
    background-color: $color-grey-3;
  }
  
  /* background color change when checked */
  .checkbox-container input:checked ~ .checkmark {
    background-color: $color-primary;
  }
  
  /* checkmark indicator */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* show checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* checkmark style */
  .checkbox-container .checkmark:after {
    left: 5px;  
    top: 13px; 
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(35deg);
  }

  .checkbox-label {
      order: 2;
      display: inline-block;
      margin-left: 15px;
  }