.dropdown__list--host-list {
  border-color: $color-grey-2;
  
  .dropdown__item--grey {
    color: $color-grey-3;
  }
}
.host-field {
  &__add-panel {
    border: 2px solid $color-primary-light;
    border-radius: $border-radius;
    background-color: white;
    position: absolute;
    min-width: 20rem;
    display: block;
    color: $color-primary;
    z-index: 10;
  }
}